<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>

<body>
    <h1>
        <%= userName %>, se ha eliminado su usuario.
    </h1>
    <p>Esperamos verte de nuevo.
    </p>
</body>

</html>