<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>

<body>
    <h1>¡Bienvenid@, <%= email %>!</h1>
    <p>Has sido asignado al grupo: <%= groupName %>
    </p>
    <a href="http://localhost:4200">Enlace <%= groupName %></a>
</body>

</html>